.currentLink {
    color: green;
    font-weight: bold;
    font-style: italic;
}

a {
    background-color: #ffffff;
    color: black;
}

.skipper {
    background: white;
    height: 30px;
    left: 0%;
    padding: 8px;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;
}

.skipper:focus {
    transform: translateY(0%);
  }

.paolettiCSS {
    background-image:  linear-gradient(brown 1px, transparent 1px), linear-gradient(to right, brown 1px, tan 1px);
    background-size: 100px 100px;
}

.dardenCSS {
    background-color: #CBC3E3;
background-image: radial-gradient(#444cf7 1.1500000000000001px, #CBC3E3 1.1500000000000001px);
background-size: 23px 23px;
}

h1 {
    text-align: center;
    color: black;
    border: 1px solid black;    
    background: #FFFDD0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
    padding: 20px;    
    background-color: #FFFDD0;
}

li {
    display: inline;
    margin: 20px;
}

.aboutSec {
    background-color: #FFFDD0;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.dardenh1 {background: #ffe6ee;}

.dardenNav {background-color: #ffe6ee}

.imageGrid {
    display: inline-block;
    margin: 0px auto;
    align-self: center;
    justify-self: center;
    display: grid;
    width: 50%;
    box-sizing: border-box;
}

.imageGrid img {
    width: 300px;
    height: 300px;
    align-self: center;
    justify-self: center;
    border-style: solid;
    border-width: 5px;
}

.imageGrid {
    grid-template-columns: 1fr;
}

.imageGrid img {
    border-color: black;
}


@media (min-width: 768px) {

    .imageGrid {
        grid-template-columns: 1fr 1fr;
    }

    .imageGrid img {
        border-color: red;
    }
}

@media (min-width: 2500px) {
    .imageGrid {
        grid-template-columns: 1fr 1fr 1fr;
    }    

    .imageGrid img {
        border-color: brown;
    }
}

.imageFlexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.child1 {
    width: 100%;
    height: 100vh;
}

.child2 {
    width: 100%;
    height: 100vh;
}

.imageFlexbox img {
    object-fit: fill;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
  }


  @media (min-width: 768px) {
    .imageFlexbox {
        flex-direction: row;
        flex-wrap: wrap;
    }    

    .imageFlexbox img {
        border-color: blue;
    }

    .child1 {
        width: 50%;
        height: 50vh;
    }
    
    .child2 {
        width: 50%;
        height: 50vh;
    }
}

@media (min-width: 1200px) {
    .imageFlexbox {
        flex-direction: row;
    }    

    .imageFlexbox img {
        border-color: lightskyblue;
    }
    .child1 {
        width: 40%;
        height: 100vh;
    }
    
    .child2 {
        width: 40%;
        height: 100vh;
    }
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    background-color: pink;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    color: #fff;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    .wrapper {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr;
        background-color: purple;
    }

    .box {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: blue;
        color: #fff;
        border-radius: 5px;
    }

    .a {
        grid-column: 1;
        grid-row: 1;
    }
    .b {
        grid-column: 2 ;
        grid-row: 1;
    }
    .c {
        grid-column: 1 ;
        grid-row: 2 ;
    }
    .d {
        grid-column: 2;
        grid-row: 2;
    }
    .a img {
        width: 90%;
        height: 90%;
    }
    .b img {
        width: 90%;
        height: 90%;
    }
    .c img {
        width: 90%;
        height: 90%;
    }
    .d img {
        width: 90%;
        height: 90%;
    }
}

@media (min-width: 1200px) {
    .wrapper {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr;
        background-color: yellow;
        justify-content: center;
    }

    .box {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-self: center;
        background-color: blue;
        color: #fff;
        border-radius: 5px;
        width: 100%;
    }

    .a {
        grid-column: 1;
        grid-row: 1;
    }
    .b {
        grid-column: 2;
        grid-row: 1;
    }
    .c {
        grid-column: 1;
        grid-row: 2 ;
    }
    .d {
        grid-column: 2;
        grid-row: 2;
    }

    .a img {
        width: 80%;
        height: 80%;
    }
    .b img {
        width: 80%;
        height: 80%;
    }
    .c img {
        width: 80%;
        height: 80%;
    }
    .d img {
        width: 80%;
        height: 80%;
    }
}